

    <partial name="_BannerPartial"></partial>

<div class="row">
    <h3>En Popüler Oyunlar</h3>
    <div class="col-12">
        <vc:games category-id="@ViewBag.CategoryId"></vc:games>
    </div>








</div>