<div class="card text-bg-dark">
    <img src="~/Images/Kapak.jpg" class="card-img" style="height:570px" />
    <div class="card-img-overlay">

        <h1 style="color:darkblue" class="display-5 fw-bold">Oyun'a dair her şey.</h1>
        <p style="color:indigo; font-weight:bold" class="col-md-8 fs-4">Duygusuz çocuklarla aynı oyun parkındasın.</p>
    </div>


</div>

